<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>COINS ChatBot</title>
		<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/assets/css/chat.min.css"> -->
	</head>
	<body>

		<script>			
var botmanWidget = {
frameEndpoint: 'http://localhost{{ base_path() }}/bot/plantilla',
chatServer: 'http://localhost{{base_path()}}/bot/start',
title: 'Gustabot',
introMessage: ' ',
placeholderText: 'Preguntame algo',
mainColor: '#F28240',
bubbleBackground: '#F28240',
aboutText: ' ',
aboutLink: ' ',
bubbleAvatarUrl: 'https://www.applozic.com/assets/resources/images/Chat-Bot-Icon@512px.svg'
};
		</script>
		<script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>
	</body>
</html>
